<?xml version="1.0" encoding="UTF-8"?>
<config>
<!-- register 1 -->	
  <fieldset name="COM_JOOMLEAGUE_SETTINGS_GROUP_GLOBAL"
  label="COM_JOOMLEAGUE_SETTINGS_GROUP_GLOBAL">
		<field name="cfg_edit_club_info_update_notify" type="radio"
			default="0" label="COM_JOOMLEAGUE_SETTINGS_EDIT_CLUB_NOTIFY_CLUBADMINS_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_EDIT_CLUB_NOTIFY_CLUBADMINS_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="cfg_edit_person_info_update_notify" type="radio"
			default="0" label="COM_JOOMLEAGUE_SETTINGS_EDIT_CLUB_PERSON_CLUBADMINS_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_EDIT_CLUB_PERSON_CLUBADMINS_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="cfg_use_new_menue" type="radio"
			default="0" label="COM_JOOMLEAGUE_SETTINGS_USE_NEW_MENUE_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_USE_NEW_MENUE_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="cfg_help_server" type="text" default="http://joomleaguewiki.grammatikas-grill.de/index.php/"
		size="100"
    label="COM_JOOMLEAGUE_SETTINGS_HELPSERVER"
		description="COM_JOOMLEAGUE_SETTINGS_HELPSERVER_DESC">
		</field>
		
		<field name="cfg_update_server_file" type="text" default="https://github.com/diddipoeler/joomleague-2-komplettpaket/archive/master.zip"
		size="100"
    label="COM_JOOMLEAGUE_SETTINGS_UPDATESERVER_FILE"
		description="COM_JOOMLEAGUE_SETTINGS_UPDATESERVER_FILE_DESC">
		</field>
		
    <field name="cfg_radio_or_pulldown" type="radio"
			default="0" label="COM_JOOMLEAGUE_SETTINGS_RADIO_OR_PULLDOWN"
			description="COM_JOOMLEAGUE_SETTINGS_RADIO_OR_PULLDOWN_DESCR">
			<option value="0">COM_JOOMLEAGUE_GLOBAL_RADIO_BUTTON</option>
			<option value="1">COM_JOOMLEAGUE_GLOBAL_LIST_PULLDOWN</option>
		</field>
		
</fieldset>

<!-- register 2 -->	
	<fieldset name="COM_JOOMLEAGUE_SETTINGS_GROUP_SYSTEM"
  label="COM_JOOMLEAGUE_SETTINGS_GROUP_SYSTEM">
<!--
		<field name="JoomLeague updates" type="list" default="1"
			label="COM_JOOMLEAGUE_SETTINGS_UPDATES_TITLE" description="COM_JOOMLEAGUE_SETTINGS_UPDATES_DESCR">
			<option value="0">COM_JOOMLEAGUE_GLOBAL_ON</option>
			<option value="1">COM_JOOMLEAGUE_GLOBAL_MANUAL</option>
			<option value="2">COM_JOOMLEAGUE_GLOBAL_OFF</option>
		</field>
-->		
		<field name="cfg_which_media_tool" type="radio"
			default="imageselect" label="COM_JOOMLEAGUE_SETTINGS_MEDIA_TOOL_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_MEDIA_TOOL_DESCR">
			<option value="picture">COM_JOOMLEAGUE_JOOMLA_MEDIA_KOMPONENT</option>
			<option value="imageselect">COM_JOOMLEAGUE_JOOMLEAGUE_IMAGEHANDLER</option>
		</field>
		<field name="cfg_drop_joomleague_tables_when_uninstalled" type="radio"
			default="0" label="COM_JOOMLEAGUE_SETTINGS_UNINSTALL_TABLES_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_UNINSTALL_TABLES_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_debug_info" type="radio" default="0"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_DEBUG_TITLE" description="COM_JOOMLEAGUE_SETTINGS_SHOW_DEBUG_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="max_import_time" type="text" default="480"
			label="COM_JOOMLEAGUE_SETTINGS_MAX_IMPORT_TIME_TITLE" description="COM_JOOMLEAGUE_SETTINGS_MAX_IMPORT_TIME_DESCR">
		</field>
		<field name="max_import_memory" type="text" default="256M"
			label="COM_JOOMLEAGUE_SETTINGS_MAX_IMPORT_MEMORY_TITLE" description="COM_JOOMLEAGUE_SETTINGS_MAX_IMPORT_MEMORY_DESCR">
		</field>

		<field name="modal_popup_width" type="text" default="900"
			label="COM_JOOMLEAGUE_SETTINGS_MODALPOPUP_WIDTH" description="COM_JOOMLEAGUE_SETTINGS_MODALPOPUP_WIDTH_DESCR">
		</field>
		<field name="modal_popup_height" type="text" default="600"
			label="COM_JOOMLEAGUE_SETTINGS_MODALPOPUP_HEIGHT" description="COM_JOOMLEAGUE_SETTINGS_MODALPOPUP_HEIGHT_DESCR">
		</field>
	</fieldset>
	
<!-- register 3 -->	
	<fieldset name="COM_JOOMLEAGUE_SETTINGS_GROUP_FRONTEND"
  label="COM_JOOMLEAGUE_SETTINGS_GROUP_FRONTEND">
		<field name="show_footer" type="radio" default="1"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_FOOTER_TITLE" description="COM_JOOMLEAGUE_SETTINGS_SHOW_FOOTER_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="cfg_google_api_key" type="text" default=""
			label="COM_JOOMLEAGUE_SETTINGS_GMAP_APIKEY_TITLE" description="COM_JOOMLEAGUE_SETTINGS_GMAP_APIKEY_DESCR">
		</field>
		<field name="force_ranking_cache" type="radio" default="1"
			label="COM_JOOMLEAGUE_SETTINGS_FORCE_RANKING_CACHE" description="COM_JOOMLEAGUE_SETTINGS_FORCE_RANKING_CACHE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="use_highslide" type="radio" default="0"
			label="COM_JOOMLEAGUE_SETTINGS_USE_HIGHSLIDE_LIBRARY"
			description="COM_JOOMLEAGUE_SETTINGS_USE_HIGHSLIDE_LIBRARY_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_joomlaworks" type="radio" default="0"
			label="COM_JOOMLEAGUE_SETTINGS_USE_JOOMLAWORKS_LIBRARY"
			description="COM_JOOMLEAGUE_SETTINGS_USE_JOOMLAWORKS_LIBRARY_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="usethumblib" type="radio" default="0"
			label="COM_JOOMLEAGUE_SETTINGS_USE_SERVERSIDE_THUMBCREATION"
			description="COM_JOOMLEAGUE_SETTINGS_USE_SERVERSIDE_THUMBCREATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="thumbformat" type="list" default="PNG"
			label="COM_JOOMLEAGUE_SETTINGS_THUMB_FORMAT" description="COM_JOOMLEAGUE_SETTINGS_THUMB_FORMAT_DESCR">
			<option value="GIF">GIF</option>
			<option value="JPG">JPG</option>
			<option value="PNG">PNG</option>
		</field>
		<field name="default_itemid" type="text" default=""
			label="COM_JOOMLEAGUE_SETTINGS_DEFAULT_ITEMID_TITLE" description="COM_JOOMLEAGUE_SETTINGS_DEFAULT_ITEMID_DESCR">
		</field>
	</fieldset>
	
<!-- register 4 -->	
	<fieldset name="COM_JOOMLEAGUE_SETTINGS_GROUP_BACKEND"
	label="COM_JOOMLEAGUE_SETTINGS_GROUP_BACKEND"
		addfieldpath="/administrator/components/com_joomleague/elements">
		
    <field name="defsportstype" type="sql" default="Soccer"
			label="COM_JOOMLEAGUE_SETTINGS_SELECT_DEFAULT_SPORTS_TYPE_LABEL"
			description="COM_JOOMLEAGUE_SETTINGS_SELECT_DEFAULT_SPORTS_TYPE_LABEL_DESCR"
			query="	SELECT	id AS value,
								name AS defsportstype
			 			FROM #__joomleague_sports_type
			 			ORDER BY id, name" />
		
    <field name="current_season" type="sql" default=""
			label="COM_JOOMLEAGUE_SETTINGS_CURRENT_SEASON_TITLE" 
      description="COM_JOOMLEAGUE_SETTINGS_CURRENT_SEASON_DESCR"
      query="	SELECT t.id as value, t.name as current_season FROM #__joomleague_season t ORDER BY name DESC"
      
      />
		
    	 			
		<field name="image_max_size" type="text" default="120"
			label="COM_JOOMLEAGUE_SETTINGS_MAXIMGSIZE_TITLE" 
      description="COM_JOOMLEAGUE_SETTINGS_MAXIMGSIZE_DESCR">
		</field>
		<field name="name_format" type="nameformat" 
    default="0"
			label="COM_JOOMLEAGUE_SETTINGS_LABEL_NAME_FORMAT" 
      description="COM_JOOMLEAGUE_SETTINGS_DESCR_NAME_FORMAT">
		</field>
		<field name="cfg_be_show_matchdays_order" 
    type="list" default="ASC"
			label="COM_JOOMLEAGUE_SETTINGS_MATCHDAY_ORDER_TITLE" 
      description="COM_JOOMLEAGUE_SETTINGS_MATCHDAY_ORDER_DESCR">
			<option value="ASC">COM_JOOMLEAGUE_GLOBAL_ASC</option>
			<option value="DESC">COM_JOOMLEAGUE_GLOBAL_DESC</option>
		</field>
		<field name="cfg_show_seasons_in_project_drop_down" type="radio"
			default="0" label="COM_JOOMLEAGUE_SETTINGS_SHOW_SEASON_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_SEASON_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="on_prefill_delete_current_match_roster" 
    type="radio"
			default="0"
			label="COM_JOOMLEAGUE_SETTINGS_ON_PREFILL_DELETE_CURRENT_MATCH_ROSTER"
			description="COM_JOOMLEAGUE_SETTINGS_ON_PREFILL_DELETE_CURRENT_MATCH_ROSTER_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="use_prefilled_match_roster" 
    type="list" 
    default="0"
			label="COM_JOOMLEAGUE_SETTINGS_USE_PREFILLED_MATCH_ROSTER"
			description="COM_JOOMLEAGUE_SETTINGS_USE_PREFILLED_MATCH_ROSTER_DESCR">
			<option value="0">JNO</option>
			<option value="1">COM_JOOMLEAGUE_SETTINGS_MATCH_ROSTER_PREFILL_WITH_LAST_MATCH_ROSTER
			</option>
			<option value="2">COM_JOOMLEAGUE_SETTINGS_MATCH_ROSTER_PREFILL_WITH_PROJECTTEAM_PLAYERS
			</option>
			<option value="3">COM_JOOMLEAGUE_SETTINGS_MATCH_ROSTER_PREFILL_ASK
			</option>
		</field>
		
		<field name="cfg_be_show_merge_teams" type="list"
			default="1"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_CLUB_MERGE_TEAMS_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_CLUB_MERGE_TEAMS_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="cfg_be_show_match_teamname" type="list"
			default="name"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_MATCH_TEAM_NAME_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_MATCH_TEAM_NAME_DESCR">
			<option value="short_name">COM_JOOMLEAGUE_GLOBAL_TEAM_NAME_FORMAT_SHORT</option>
			<option value="middle_name">COM_JOOMLEAGUE_GLOBAL_TEAM_NAME_FORMAT_MEDIUM</option>
			<option value="name">COM_JOOMLEAGUE_GLOBAL_TEAM_NAME_FORMAT_FULL</option>
		</field>


		
	</fieldset>

<!-- register 5 -->	
	<fieldset name="COM_JOOMLEAGUE_SETTINGS_GROUP_PLACEHOLDER_IMAGES"
	label="COM_JOOMLEAGUE_SETTINGS_GROUP_PLACEHOLDER_IMAGES"
		addfieldpath="/administrator/components/com_joomleague/models/fields">
		
		<field name="ph_flags" type="media"
			default="images/com_joomleague/database/placeholders/placeholder_flags.png"
			label="COM_JOOMLEAGUE_SETTINGS_LABEL_PH_FLAGS" 
			description="COM_JOOMLEAGUE_SETTINGS_field_DESCR_PH_FLAGS"
			directory="images/com_joomleague/database/placeholders/"
			preview="show">
		</field>
		<field name="ph_icon" type="media"
			default="images/com_joomleague/database/placeholders/placeholder_21.png" 
			label="COM_JOOMLEAGUE_SETTINGS_LABEL_PH_ICON"
			description="COM_JOOMLEAGUE_SETTINGS_DESCR_PH_ICON"
			directory="images/com_joomleague/database/placeholders/"
			preview="show">
		</field>
		<field name="ph_logo_small" type="media"
			default="images/com_joomleague/database/placeholders/placeholder_small.gif"
			label="COM_JOOMLEAGUE_SETTINGS_LABEL_PH_LOGO_SMALL" 
			description="COM_JOOMLEAGUE_SETTINGS_DESCR_PH_LOGO_SMALL"
			directory="images/com_joomleague/database/placeholders/"
			preview="show">			
		</field>
		<field name="ph_logo_medium" type="media"
			default="images/com_joomleague/database/placeholders/placeholder_50.png" 
			label="COM_JOOMLEAGUE_SETTINGS_LABEL_PH_LOGO_MEDIUM"
			description="COM_JOOMLEAGUE_SETTINGS_DESCR_PH_LOGO_MEDIUM"
			directory="images/com_joomleague/database/placeholders/"
			preview="show">			
		</field>
		<field name="ph_logo_big" type="media"
			default="images/com_joomleague/database/placeholders/placeholder_150.png"
			label="COM_JOOMLEAGUE_SETTINGS_LABEL_PH_LOGO_BIG" 
			description="COM_JOOMLEAGUE_SETTINGS_DESCR_PH_LOGO_BIG"
			directory="images/com_joomleague/database/placeholders/"
			preview="show">			
		</field>
		<field name="ph_player" type="media"
			default="images/com_joomleague/database/placeholders/placeholder_150_2.png"
			label="COM_JOOMLEAGUE_SETTINGS_LABEL_PH_PLAYER" 
			description="COM_JOOMLEAGUE_SETTINGS_DESCR_PH_PLAYER"
			directory="images/com_joomleague/database/placeholders/"
			preview="show">			
		</field>
		<field name="ph_team" type="media"
			default="images/com_joomleague/database/placeholders/placeholder_450_2.png"
			label="COM_JOOMLEAGUE_SETTINGS_LABEL_PH_TEAM" 
			description="COM_JOOMLEAGUE_SETTINGS_DESCR_PH_TEAM"
			directory="images/com_joomleague/database/placeholders/"
			preview="show">			
		</field>
	</fieldset>
<!-- register 6 -->	
	<fieldset name="Permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="COM_JOOMLEAGUE_SETTINGS_ACCESS_COMPONENT"
			class="inputbox" filter="rules" validate="rules" component="com_joomleague"
			section="component" />
	</fieldset>

<!-- register 7 -->
<!-- 
  <fieldset  
  name="COM_JOOMLEAGUE_SETTINGS_GROUP_JQUERY" label="COM_JOOMLEAGUE_SETTINGS_GROUP_JQUERY_LABEL"
		description="COM_JOOMLEAGUE_SETTINGS_GROUP_JQUERY_DESC">

 
  <field name="COM_JOOMLEAGUE_use_jquery_version" type="radio"
			default="0" 
      label="COM_JOOMLEAGUE_SETTINGS_USE_JQUERY_VERSION_TITLE" 
      description="COM_JOOMLEAGUE_SETTINGS_USE_JQUERY_VERSION_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		
  <field name="jqueryversionfrontend" type="list" default="1.8" 
	            	label="COM_JOOMLEAGUE_SYSTEM_JQUERY_FIELD_JQUERYVERSION_LABEL" 
	            	description="COM_JOOMLEAGUE_SYSTEM_JQUERY_FIELD_JQUERYVERSION_DESC">
                <option value="1.8">COM_JOOMLEAGUE_SYSTEM_JQUERY_VALUE_LATEST18</option>
	                <option value="1.7">COM_JOOMLEAGUE_SYSTEM_JQUERY_VALUE_LATEST17</option>
	                <option value="1.6">COM_JOOMLEAGUE_SYSTEM_JQUERY_VALUE_LATEST16</option>
	                <option value="1.5">COM_JOOMLEAGUE_SYSTEM_JQUERY_VALUE_LATEST15</option>
	                <option value="1.4">COM_JOOMLEAGUE_SYSTEM_JQUERY_VALUE_LATEST14</option>
	                <option value="1.3">COM_JOOMLEAGUE_SYSTEM_JQUERY_VALUE_LATEST13</option>

	            </field>
	            <field name="jquerysubversionfrontend" type="text" default="" size="2" 
					label="COM_JOOMLEAGUE_SYSTEM_JQUERY_FIELD_JQUERYSUBVERSION_LABEL" 
					description="COM_JOOMLEAGUE_SYSTEM_JQUERY_FIELD_JQUERYSUBVERSION_DESC" />
					
<field name="jqueryuiversionfrontend" type="list" default="1.8" 
	            	label="COM_JOOMLEAGUE_SYSTEM_JQUERY_FIELD_JQUERYUIVERSION_LABEL" 
	            	description="COM_JOOMLEAGUE_SYSTEM_JQUERY_FIELD_JQUERYUIVERSION_DESC">
	                <option value="1.8">COM_JOOMLEAGUE_SYSTEM_JQUERY_VALUE_LATESTUI18</option>
	                <option value="1.7">COM_JOOMLEAGUE_SYSTEM_JQUERY_VALUE_LATESTUI17</option>

	            </field>
	            
              <field name="jqueryuisubversionfrontend" type="text" default="18" size="2" 
					label="COM_JOOMLEAGUE_SYSTEM_JQUERY_FIELD_JQUERYUISUBVERSION_LABEL" 
					description="COM_JOOMLEAGUE_SYSTEM_JQUERY_FIELD_JQUERYUISUBVERSION_DESC" />					
  </fieldset>
-->

<!-- register 8 -->
  <fieldset  
  name="COM_JOOMLEAGUE_SETTINGS_GROUP_DFBNET_COLUMNS" 
  label="COM_JOOMLEAGUE_SETTINGS_GROUP_DFBNET_COLUMNS_LABEL"
		description="COM_JOOMLEAGUE_SETTINGS_GROUP_DFBNET_COLUMNS_DESC">

    <field name="cfg_dfbnet_season_name" type="text" default="C"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_SEASON_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_SEASON_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_verband_name" type="text" default="D"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_VERBAND_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_VERBAND_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_league_name" type="text" default="M"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_LEAGUE_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_LEAGUE_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_staffel_number" type="text" default="L"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_STAFFEL_NUMBER_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_STAFFEL_NUMBER_CCOLUMN">
		</field>
		<field name="cfg_dfbnet_staffel_name" type="text" default="N"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_STAFFEL_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_STAFFEL_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_teamart_name" type="text" default="F"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_TEAMART_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_TEAMART_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_round_name" type="text" default="S"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_ROUND_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_ROUND_CCOLUMN">
		</field>
    
    <field name="cfg_dfbnet_date" type="text" default="P"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_DATE_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_DATE_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_time" type="text" default="Q"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_TIME_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_TIME_CCOLUMN">
		</field>
    
    <field name="cfg_dfbnet_weekday_changed" type="text" default="AC"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_WEEKDAY_CHANGED_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_WEEKDAY_CHANGED_CCOLUMN">
		</field>
    
    <field name="cfg_dfbnet_date_changed" type="text" default="AD"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_DATE_CHANGED_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_DATE_CHANGED_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_time_changed" type="text" default="AE"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_TIME_CHANGED_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_TIME_CHANGED_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_game_id" type="text" default="W"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_GAME_ID_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_GAME_ID_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_home_name" type="text" default="U"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_HOME_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_HOME_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_away_name" type="text" default="V"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_AWAY_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_AWAY_CCOLUMN">
		</field>
    
    <field name="cfg_dfbnet_playground_name" type="text" default="Y"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_PLAYGROUND_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_PLAYGROUND_CCOLUMN">
		</field>
    
    <field name="cfg_dfbnet_spielleitung_name" type="text" default="Z"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_REFEREE_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_REFEREE_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_assistent1_name" type="text" default="AA"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_REFEREE1_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_REFEREE1_CCOLUMN">
		</field>
    <field name="cfg_dfbnet_assistent2_name" type="text" default="AB"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_REFEREE2_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_REFEREE2_CCOLUMN">
		</field>
  
  </fieldset>

<!-- register 9 -->
  <fieldset  
  name="COM_JOOMLEAGUE_SETTINGS_GROUP_DFBNET_PLAYER_COLUMNS" 
  label="COM_JOOMLEAGUE_SETTINGS_GROUP_DFBNET_PLAYER_COLUMNS_LABEL"
		description="COM_JOOMLEAGUE_SETTINGS_GROUP_DFBNET_PLAYER_COLUMNS_DESC">
  
  <field name="cfg_dfbnet_player_startrow" type="text" default="10"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_startrow_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_startrow_CCOLUMN">
		</field>
		
  <field name="cfg_dfbnet_player_passnummer" type="text" default="A"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_PASSNUMMER_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_PASSNUMMER_CCOLUMN">
		</field>
		
		<field name="cfg_dfbnet_player_firstname" type="text" default="B"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_firstname_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_firstname_CCOLUMN">
		</field>
		
		<field name="cfg_dfbnet_player_lastname" type="text" default="C"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_lastname_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_lastname_CCOLUMN">
		</field>
		
		<field name="cfg_dfbnet_player_info" type="text" default="D"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_info_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_info_CCOLUMN">
		</field>
		
		<field name="cfg_dfbnet_player_birthday" type="text" default="E"
		size="20"
    label="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_birthday_CCOLUMN"
		description="COM_JOOMLEAGUE_SETTINGS_DFBNET_PLAYER_birthday_CCOLUMN">
		</field>
  
  </fieldset>  

<!-- register 10 -->      
<fieldset  
  name="COM_JOOMLEAGUE_SETTINGS_GROUP_EXTENSIONS" label="COM_JOOMLEAGUE_SETTINGS_GROUP_EXTENSIONS_LABEL"
		description="COM_JOOMLEAGUE_SETTINGS_GROUP_EXTENSIONS_DESC">  

<field name="cfg_be_extension_single_match" type="list"
			default="0"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_SINGLE_MATCH_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_SINGLE_MATCH_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
<field name="cfg_be_extension_lmo_import" type="list"
			default="1"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_LMO_IMPORT_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_LMO_IMPORT_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
<field name="cfg_be_extension_dbb_import" type="list"
			default="1"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_DBB_IMPORT_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_DBB_IMPORT_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>		
<field name="cfg_be_extension_dfbnet_import" type="list"
			default="1"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_DFBNET_IMPORT_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_DFBNET_IMPORT_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>		
<field name="cfg_be_extension_rosterposition" type="list"
			default="1"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_ROSTERPOSITION_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_ROSTERPOSITION_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>		
<field name="cfg_be_extension_ringer_import" type="list"
			default="1"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_RINGER_IMPORT_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_RINGER_IMPORT_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
<field name="cfg_be_extension_pl_import" type="list"
			default="1"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_PL_IMPORT_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_PL_IMPORT_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>  
    
    <field name="cfg_be_extension_user_fields" type="list"
			default="1"
			label="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_USER_FIELDS_TITLE"
			description="COM_JOOMLEAGUE_SETTINGS_SHOW_EXTENSION_USER_FIELDS_DESCR">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>   
      
  </fieldset>
    
</config>
